
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    header{
        background-color: #0B9444;
    }
    .logo_title h2 {
        font-size: 18px;
        padding-left: 10%;
        text-align: center;
        margin-top: -1%;
    }
    .logo{
        display: inline;
        margin-left: 40%;
    }
    right_title {
        justify-content: center;
    }
    .right_title h2 {
        color: #fff;
        font-size: 20px;
        padding-top: 19px;
        float: left;
        margin-left: 29%;
    }
    .footer h2 {
        color: #fff;
        font-size: 13px;
        padding: 5px;
    }
}

@media only screen and (min-device-width : 600px) and (max-device-width : 768px) {
    .logo_title h2 {
        color: #fff;
        font-size: 14px;
        padding-top: 8%;
        margin-left: 2%;
    }

    .right_title h2 {
        font-size: 13px;
        padding-top: 43%;
        width: 130px;
        margin-right: -27px;
    }

}




/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {
    .logo{
        width: 122%;
        margin-left: -38%;
        margin-top: 17%;
    }
    
    
    
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    .logo{
        width: 122%;
        margin-left: -38%;
        margin-top: 17%;
    }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */ 